tproxy-port: 1181
# --- 些 小孝 携 ---
mixed-port: 1080
allow-lan: true
tcp-concurrent: true
log-level: silent
geodata-mode: true
geo-auto-update: true
geo-update-interval: 72
find-process-mode: off  # XZ
mode: rule
ipv6: false
external-controller: 0.0.0.0:9090
external-ui: ./zashboard
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist.zip"

profile:
  store-selected: true

# --- 小孝 小肖肖 ---
sniffer:
  enable: true
  parse-pure-ip: true
  force-dns-mapping: true 
  sniff:
    HTTP:
      ports:
        - 80
        - 8080-8880
      override-destination: true
    TLS:
      ports:
        - 443
        - 8443
    QUIC:
      ports: [443]


# --- 小小 小-小 (挟效) ---
proxies:
  - name: " SERVER"
    icon: https://www.svgrepo.com/download/365909/estonia.svg 
    type: vless
    server: bobik.giize.com
    port: 443
    uuid: e22bfdd1-0a09-488a-bf70-fc68619a8abc
    network: ws
    tls: true
    servername: bobik.giize.com
    skip-cert-verify: true
    client-fingerprint: chrome
    udp: true
    ws-opts:
      path: /ws509bd9ec

  - name: " SERVER"
    icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Germany.png
    type: vless
    server: parsek.ooguy.com
    port: 443
    uuid: e0c163cd-b16e-43a5-b3f0-498d1f011e9e
    network: ws
    tls: true
    servername: parsek.ooguy.com
    skip-cert-verify: true
    client-fingerprint: chrome
    udp: true
    ws-opts:
      path: /ws2030ddb8

  - name: "佛 SERVER"
    icon: "https://www.svgrepo.com/show/508628/flag-ru.svg"
    # icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Russia.png
    type: vless
    server: mashka.kozow.com
    port: 443
    uuid: 3dec6c7a-dc4a-4f20-b3b9-7a380b36e251
    network: ws
    tls: true
    servername: mashka.kozow.com
    skip-cert-verify: true
    client-fingerprint: chrome
    udp: true
    ws-opts:
      path: /ws23f30329

# --- 校蝎 小 (孝) ---
proxy-groups:
  - name: "PROXY FASTEST"
    icon:  https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/European_Union.png
    type: url-test
    proxies:
      - " SERVER"
      - " SERVER"
    url: "http://www.msftncsi.com/ncsi.txt"
    interval: 60
    lazy: true
    tolerance: 50

  - name: "PROXY FAILOVER "
    icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Rocket.png
    type: fallback
    proxies:
      - "PROXY FASTEST"
      - DIRECT
    url: "http://www.msftncsi.com/ncsi.txt"
    interval: 60
    lazy: true

  - name: "RUS"
    icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Russia.png
    type: fallback
    proxies:
      - "佛 SERVER"
      - DIRECT
    url: "http://www.msftncsi.com/ncsi.txt"
    interval: 60

  - name: "YOUTUBE"
    icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/YouTube.png
    type: select
    #include-all: true
    proxies:
      - DIRECT
      - "PROXY FAILOVER "


# --- 小   楔校孝笑 ---
rule-providers:
  adfilter:
    type: http
    behavior: domain
    format: mrs
    path: "./rule-providers/adlist.mrs"
    url: "https://github.com/zxc-rv/ad-filter/releases/latest/download/adlist.mrs"
    interval: 86400
  
  oisd_big:
    type: http
    behavior: domain
    format: text
    path: "./rule-providers/oisd_big.txt"
    url: "https://raw.githubusercontent.com/zzzt27/clash-AdsBlock/main/oisd_big.txt"
    interval: 86400

  youtube:
    type: http
    behavior: domain
    format: mrs
    url: "https://github.com/MetaCubeX/meta-rules-dat/raw/meta/geo/geosite/youtube.mrs"
    path: ./rule-providers/youtube.mrs
    interval: 86400

geox-url:
  geosite: "https://github.com/jameszeroX/zkeen-domains/releases/latest/download/zkeen.dat"
  geoip: "https://github.com/jameszeroX/zkeen-ip/releases/latest/download/zkeenip.dat"

# ---  楔校孝笑 --- #
rules:


### --- 些挟些  --- ###
# ---  | UDP-孝肖  443 孝 小 小小小啸 IP --- #
  - AND,((NETWORK,UDP),(DST-PORT,443),(GEOIP,!RU)),REJECT
# --- 小挟效 |   | 携 IPHONE LENA --- #  
  - SRC-IP-CIDR,192.168.100.99/32,PROXY FAILOVER  # LENA IPHONE
# ---  |   . --- #   
  - RULE-SET,adfilter,REJECT
  # - RULE-SET,oisd_big,REJECT
  - DOMAIN,log.strm.yandex.ru,REJECT
  - DOMAIN,tracking.ott.yandex.net,REJECT
  - DOMAIN,egress.yandex.net,REJECT
  - DOMAIN,loveplanet.ru,REJECT
  - DOMAIN,mamba.ru,REJECT
  


### --- 携校挟  --- ###
# --- 携校挟 | IPTV --- #
  # PEAK TV
  - DOMAIN-KEYWORD,peakantikli,DIRECT
  # LIGHT IPTV
  - DOMAIN-SUFFIX,pp.ru,DIRECT
  # YOSSO TV
  - DOMAIN-KEYWORD,balelbrus,DIRECT
  # TV TEAM
  - DOMAIN-SUFFIX,team.ga,DIRECT
  # ZABAVA
  - DOMAIN-SUFFIX,ngenix.net,DIRECT
# --- 携校挟 |  --- #
  - DOMAIN,emojio.ru,DIRECT
  - DOMAIN,myip.tf,RUS
  - DOMAIN,2ip.ru,DIRECT
  - DOMAIN-SUFFIX,avito.ru,DIRECT    # 胁懈芯 芯斜薪芯 薪械 锌泻邪械  锌芯泻懈, 锌芯 芯屑 械泻芯屑械薪写械 懈锌芯谢蟹芯胁邪 DIRECT
  - DOMAIN-SUFFIX,avito.st,DIRECT    # 胁懈芯 芯斜薪芯 薪械 锌泻邪械  锌芯泻懈, 锌芯 芯屑 械泻芯屑械薪写械 懈锌芯谢蟹芯胁邪 DIRECT
  - DOMAIN,usher.ttvnw.net,DIRECT    # TWITCH 写谢 1080p
  - DOMAIN,gql.twitch.tv,DIRECT      # TWITCH 写谢 1440p
  - GEOSITE,BYPASS,DIRECT


### --- VPS 挟效携 --- ###
# ZKEEN DOMAINS #
  - GEOSITE,DOMAINS,PROXY FAILOVER 
  - GEOSITE,OTHER,PROXY FAILOVER 
  - GEOSITE,POLITIC,PROXY FAILOVER 
# - GEOSITE,YOUTUBE,PROXY FAILOVER 
# ZKEEN IP #
  - GEOIP,AKAMAI,PROXY FAILOVER 
  - GEOIP,AMAZON,PROXY FAILOVER 
  - GEOIP,CDN77,PROXY FAILOVER  
  - GEOIP,CLOUDFLARE,PROXY FAILOVER 
  - GEOIP,DIGITALOCEAN,PROXY FAILOVER 
  - GEOIP,DISCORD,PROXY FAILOVER 
  - GEOIP,FASTLY,PROXY FAILOVER 
# - GEOIP,GCORE,PROXY FAILOVER 
# - GEOIP,GOOGLE,PROXY FAILOVER 
  - GEOIP,HETZNER,PROXY FAILOVER 
  - GEOIP,LINODE,PROXY FAILOVER 
  - GEOIP,META,PROXY FAILOVER  #  SERVER
  - GEOIP,ORACLE,PROXY FAILOVER 
  - GEOIP,OVH,PROXY FAILOVER 
  - GEOIP,TELEGRAM,PROXY FAILOVER 
# - GEOIP,VULTR,PROXY FAILOVER 
# - GEOIP,YOUTUBE,PROXY FAILOVER 
#  #
  - DOMAIN-KEYWORD,ottbill,PROXY FAILOVER   
  - DOMAIN,myip.com,PROXY FAILOVER 
  - DOMAIN,2ip.io,PROXY FAILOVER 
  - DOMAIN,ipwhois.app,PROXY FAILOVER 
  - DOMAIN,ipwho.is,PROXY FAILOVER 
  - DOMAIN,api.ip.sb,PROXY FAILOVER 
  - DOMAIN,ipapi.co,PROXY FAILOVER 
  - DOMAIN,ipinfo.io,PROXY FAILOVER 
  - DOMAIN,files.catbox.moe,PROXY FAILOVER 
  - DOMAIN,warpgen.net,PROXY FAILOVER 
### --- TEST XZ --- ###
  - DOMAIN,rutor.org,PROXY FAILOVER 
  - DOMAIN,jut.su, SERVER #PROXY FAILOVER 
  - DOMAIN,github.api,PROXY FAILOVER 
  - DOMAIN,release-assets.githubusercontent.com,PROXY FAILOVER 
  - DOMAIN,dns.sb,PROXY FAILOVER  ### NEW TEST
# --- VIVOX / Phasmophobia Voice Chat ---  
  - DOMAIN-KEYWORD,vivox,PROXY FAILOVER 
# --- Riot Games / League of Legends ---
  - IP-CIDR,104.160.128.0/19,PROXY FAILOVER 
  - IP-CIDR,185.40.64.0/22,PROXY FAILOVER 
  - IP-CIDR,151.106.240.0/20,PROXY FAILOVER 
  - IP-CIDR,192.64.168.0/21,PROXY FAILOVER 
  - IP-CIDR,162.249.72.0/21,PROXY FAILOVER 
  - IP-CIDR,103.219.128.0/22,PROXY FAILOVER 
  - IP-CIDR,103.240.224.0/22,PROXY FAILOVER 
  - IP-CIDR,43.229.64.0/22,PROXY FAILOVER 
  - IP-CIDR,45.250.208.0/22,PROXY FAILOVER 
  - IP-CIDR,45.7.36.0/22,PROXY FAILOVER 
  - IP-CIDR,138.0.12.0/23,PROXY FAILOVER 
  - IP-CIDR,151.106.250.0/23,PROXY FAILOVER 
  - IP-CIDR,192.207.0.0/24,PROXY FAILOVER 
  - IP-CIDR,104.160.141.3/32,PROXY FAILOVER 
  - IP-CIDR,104.160.142.3/32,PROXY FAILOVER 
  - IP-CIDR,104.160.131.3/32,PROXY FAILOVER 
  - IP-CIDR,104.160.156.1/32,PROXY FAILOVER 
  - IP-CIDR,104.160.152.3/32,PROXY FAILOVER 
  - IP-CIDR,185.40.67.1/32,PROXY FAILOVER 
# --- DeepMind / Gemini / Bard ---
  - DOMAIN-KEYWORD,deepmind,PROXY FAILOVER 
  - DOMAIN-KEYWORD,gemini,PROXY FAILOVER 
  - DOMAIN-KEYWORD,bard,PROXY FAILOVER 
  - DOMAIN-SUFFIX,generativelanguage.googleapis.com,PROXY FAILOVER 
  - DOMAIN-SUFFIX,geller-pa.googleapis.com,PROXY FAILOVER 
  - DOMAIN-SUFFIX,proactivebackend-pa.googleapis.com,PROXY FAILOVER 
  - DOMAIN-SUFFIX,ai.google.dev,PROXY FAILOVER 
  - DOMAIN-SUFFIX,alkalicore-pa.clients6.google.com,PROXY FAILOVER 
  - DOMAIN-SUFFIX,alkalimakersuite-pa.clients6.google.com,PROXY FAILOVER 
  - DOMAIN-SUFFIX,makersuite.google.com,PROXY FAILOVER 
  - DOMAIN-SUFFIX,aistudio.google.com,PROXY FAILOVER 


### --- 小  校效 挟效携 --- ###
  - RULE-SET,youtube,YOUTUBE


### --- 携校挟 | 小 小孝鞋 --- ###
  - MATCH,DIRECT